/* 공통 적용 */
button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

/* Map 컴포넌트 */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* App 컴포넌트 */
.app {
  height: 100%;
  width: 100%;
  position: relative
}

/* Search 컴포넌트 */
.search-form {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.search-container {
  position: relative;
  width: 85%;
  margin-top: 20px;
}

.search {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
  font-size: 17px;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.search-btn {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: 1px 1px;
  background-image: url('./images/search.png');
}

/* BottomNav 컴포넌트 */
.bottom-nav {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  font-size: 12px;
  cursor: pointer;
  padding: 15px;
}

.nav-button:hover {
  background-color: #FFD233;
  transition: background-color 0.3s ease;
}