.dropdown-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-switch {
    width: 34px;
    height: 18px;
    border-radius: 9999px;
    background-color: #ddd;
    cursor: pointer;
    position: relative;
}

.toggle-switch.active {
    background-color: #4ade80;
}

.toggle-thumb {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-switch.active .toggle-thumb {
    transform: translateX(16px);
}
