.emoji-box {
    width: calc(100% - 0px);
    height: calc(100% - 270px);
    background-color: #dedede;
    border-radius: 2px;
    padding: 10px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    margin-top: -10px;
    margin-left: -10px;
  }

  .emoji {
    width: 41px; /* 원하는 크기로 설정 */
    height: 41px;
    cursor: pointer;
  }

  .emoji:hover {
    transform: scale(1.1); /* 마우스 오버 시 확대 효과 */
  }